.border-style {
    border-color: var(--main-flat);
    border-style: solid;
}

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    box-sizing: border-box;
    padding: 20px;
    overflow-x: hidden;
    background-color: var(--el-bg-color);
    border: 1px solid var(--el-border-color-light);
    border-radius: 6px;
    box-shadow: 0 0 12px #0000000d;
}

code{
    border-radius: 4px;
    padding: 3px 6px;
    color: #476582;
    background-color: #f6f6f7;
    transition: color .5s,background-color .5s
}

/* nprogress */
#nprogress .bar {
  background: var(--main-deep) !important;
}
#nprogress .spinner-icon {
  border-top-color: var(--main-deep) !important;
  border-left-color: var(--main-deep) !important;
}
#nprogress .peg {
  box-shadow:
    0 0 10px var(--main-deep),
    0 0 5px var(--main-deep) !important;
}