:root.light.light {
  --un-default-border-color: rgba(0, 0, 0, 0.2);
  --main-bg-color: rgba(0, 0, 0, 0.1);

  --color: var(--light-color);
  --color-bg: var(--light-color-bg);
}

:root.dark.dark {
  --un-default-border-color: rgba(255, 255, 255, 0.2);
  --main-bg-color: rgba(255, 255, 255, 0.1);

  --color: var(--dark-color);
  --color-bg: var(--dark-color-bg);
}

.el-button.el-button {
  --el-button-hover-bg-color: var(--color-bg);
}

:root:root {
  --el-color-primary: var(--color);
  --el-menu-hover-bg-color: var(--color-bg);
}

.border-style {
  border-style: solid;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  box-sizing: border-box;
  padding: 20px;
  overflow-x: hidden;
  background-color: var(--el-bg-color);
  border: 1px solid var(--el-border-color-light);
  border-radius: 6px;
  box-shadow: 0 0 12px #0000000d;
}

code {
  border-radius: 4px;
  padding: 3px 6px;
  color: var(--el-color-primary);
  background-color: var(--main-bg-color);
  transition: color .5s, background-color .5s
}

/* nprogress */
#nprogress .bar {
  background: var(--el-color-primary) !important;
}

#nprogress .spinner-icon {
  border-top-color: var(--el-color-primary) !important;
  border-left-color: var(--el-color-primary) !important;
}

#nprogress .peg {
  box-shadow:
    0 0 10px var(--el-color-primary),
    0 0 5px var(--el-color-primary) !important;
}